@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: #b3ffab;
  background: -webkit-linear-gradient(to right, #7880f1, #fafafa);
  background: linear-gradient(to right, #7880f1, #fafafa);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: rgb(255, 255, 255);
  width: 60%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 2%;
}

.heading {
  display: flex;
  align-items: center;
  height: 60%;
  font-family: 'poppins', sans-serif;
  color: #585858;
  font-size: 1.5em;
}

.button {
  background-image: linear-gradient(
    to right,
    #2f2ff5 0%,
    #348ac7 51%,
    #2f2ff5 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-color: #ffffff;
  display: block;
  font-family: 'poppins', sans-serif;
}

.button span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 1007px) {
  .card {
    width: 60%;
    height: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 40%;
  }
}
